{% extends 'main.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Bowls List</h1>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for dev,zone in devices.items() %}
    <div class="col">
        <div class="card">
            <img src="{{ url_for('static', filename='pet.png') }}" class="card-img-top" alt="Bowl Details">
            <div class="card-body">
                <h5 class="card-title">Bowl number: {{dev}}</h5>
                <p class="card-text">This is the Bowl in the '{{zone}}' region, click on the button below to get more details!</p>
                <a href="/lista/{{zone}}/{{dev}}" class="btn btn-primary">Go to the Bowl</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}