{% extends 'main.html' %}

{% block content %}
<style>
    .bg-image-landing {
        background: url('../static/landing.png');
        background-size: cover;
        background-position: center;
        height: 100vh; /* Full height */
    }
    .overlay-text {
        position: relative;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(0, 0, 0);
        text-align: center;
    }
</style>
<div class="container-fluid p-2">
    <div class="bg-image-landing">
        <div class="overlay-text">
            <h1>Welcome to Happy Bowls!</h1>
            <h4>Explore our bowls and data.</h4>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Community List</h1>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for meas in measurements %}
    <div class="col">
    <div class="card border-dark mb-3 bg-image">
        <div class="card-body text-dark">
            <h4 class="card-title">{{meas}}</h4>
            <p class="card-text card-bold">Select this card to see the bowls in this community, click on the button below to get more details!</p>
            <div class="card-footer">
                <a href="/lista/{{meas}}" class="btn btn-transparent card-bold" style="border-width: 2px; border-color: black;">Go to the Bowls List</a>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}