{% extends 'main.html' %}

{% block content %}
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Zone and ID</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{bowl.zone}}, {{bowl.val}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Coordinates</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{bowl.lat}}, {{bowl.lon}}</div>
                    </div>
                    <a href="http://maps.google.com/maps?q={{bowl.lat}},{{bowl.lon}}" class="stretched-link" target="_blank" alt="Go to google maps">
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div></a>
                </div>
            </div>
        </div>
        </a>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tank Level
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{bowl.lvlTank[-1]}}</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2 active">
                                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="{{bowl.lvlTank[-1] | float}}" aria-valuemin="0" aria-valuemax="2" style="width: {{bowl.lvlTank[-1] * 50}}%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Error</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Bowl's Data</h1>
</div>
<canvas class="my-4 w-100" id="tankChart" width="900" height="380" data-values="{{bowl.lvlTank}}"></canvas>
<canvas class="my-4 w-100" id="bowlChart" width="900" height="380" data-values="{{bowl.lvlBowl}}"></canvas>
<h2>Bowl's status</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
      <tr>
        <th scope="col"></th>
        <th scope="col">Value</th>
        <th scope="col">Timestamp</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(values|length) %}
      <tr>
        <th scope="row"></th>
        <td>{{tank[i]}}</td>
        <td>{{bowl[i]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  
{% endblock %}